vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Apr 2019 16:14:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|SUBARNA\\sbjkhadka
vti_modifiedby:SR|SUBARNA\\sbjkhadka
vti_timecreated:TR|10 Apr 2019 06:38:29 -0000
vti_backlinkinfo:VX|frame.dwt sitemap.html contact.html home.html dolphin_homes.html listings/property4.html listings/property5.html default.html listing.html switchBoard.html listings/property1.html listings/property2.html listings/property3.html
vti_nexttolasttimemodified:TW|20 Apr 2019 16:14:09 -0000
vti_cacheddtm:TX|20 Apr 2019 16:14:08 -0000
vti_filesize:IR|13630
vti_cachedlinkinfo:VX|S|image/houseIcon20.png S|image/inner20.png
vti_cachedsvcrellinks:VX|FSUS|image/houseIcon20.png FSUS|image/inner20.png
