vti_encoding:SR|utf8-nl
vti_author:SR|SUBARNA\\sbjkhadka
vti_modifiedby:SR|SUBARNA\\sbjkhadka
vti_timelastmodified:TR|22 Apr 2019 17:20:34 -0000
vti_timecreated:TR|22 Apr 2019 16:51:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|frame.dwt contact.html sitemap.html home.html dolphin_homes.html listings/property4.html listings/property5.html listing.html listings/property1.html listings/property2.html listings/property3.html switchBoard.html
vti_nexttolasttimemodified:TW|22 Apr 2019 17:12:33 -0000
vti_cacheddtm:TX|22 Apr 2019 17:20:34 -0000
vti_filesize:IR|11508
vti_cachedlinkinfo:VX|S|image/houseIcon20.png S|image/inner20.png
vti_cachedsvcrellinks:VX|FSUS|image/houseIcon20.png FSUS|image/inner20.png
